
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #d8b8fd;
    padding: 30px;
}

header{
    display: flex;
    width:auto;
    justify-content: center;
    align-items: center;
    background-color:#765898;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: #ffffff;
    border-bottom: 10px solid #52d053;
    border-radius: 10px;

}

footer{
    display: flex;
    width: auto;
    height: 70px;
    padding: 10px;
    margin-top: 20px;
    justify-content: right;
    background-color:#765898;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-top: 10px solid #52d053;
    border-radius: 10px;
}

#reset-button{ 
    background-color: #765898;
    border-radius: 10px;
    width: 110px;
    height: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #ffffff;
    margin-left: 75%;
    border: 1px solid #52d053;
    
}

#reset-button:hover{
    background-color: #52d053;
    border: 1px solid #765898 ;
    color: #765898;
}


.ul-contenido{
    list-style: none;
    padding: 5px;
    margin: 10px;
    display: flex;    /* Utiliza flexbox para organizar los elementos */
    flex-wrap: wrap;  /* Permite que los elementos se envuelvan a una nueva línea en este caso los contadores*/
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
}
 
.lista{
    display: flex;
    display: inline-block;
    margin-right: 10px; 
    width: calc(50% - 20px); /* Ocupa el 50% del ancho del contenedor con margin */
    height:35px;
    margin: 5x; /* Espaciado entre los elementos */
    margin-top: 10px;
    padding: 5px;
    text-align: center; /* Centra el contenido horizontalmente */
    background-color:#765898;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size:25px;
    color: #ffffff;
    border-bottom: 1px solid #52d053;
}

.lista:hover{
    background-color:#52d053;
    border-bottom: 1px solid #765898;
}
textarea[name="user-input"]{
    display: flex; 
    width: 800px;
    height: 80px; 
    resize: none; 
    margin: 10px; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: large; 
    margin-right: auto; 
    margin-left: auto;
    border-radius: 10px; 
    padding: 5px;
    border: 1px solid #52d053 ;
}



