
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

title{
    font-family: 'Times New Roman', Times, serif;
    color: #765898;
}

footer{
    margin: auto;
    border-bottom-width: 5px;
}